.container {
    background-color: rgb(3, 102, 231);
    padding: 20px;
    margin-top: 10px;

}

.card {
    background-color: rgb(255, 255, 255);

    border-radius: 12px;

}

li {
    list-style-type: none;
    margin-left: 10px;
    margin-top: 3px;
}

button {
    border-radius: 10px;
}

.disabled {
    color: #888;

}

span {
    color: red;
}

@media (min-width:768px) {
    .card {
        background-color: rgb(255, 255, 255);

        border-radius: 12px;
        height: 100%;
    }
}